.row {
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px dashed #E0E0E0;
    height: 84px;
}

.row:hover {
    background: rgba(131, 58, 224, 0.05);
}

.row td {
    border-bottom: 1px black;
}

.row .symbol {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 10px;
    width: 69px;
    text-align: left;
    padding-left:10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.row .name {
    font-style: normal;
    font-weight: normal;
    font-size:18px;
    width: 170px;
}

.row .name .transparent {
    opacity: .5;
}
.row .price {
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 18px;
    width: 140px;
    text-align: end;
  
}

.row .price .decimal {
    font-size: 14px;
}

.row .change {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    width: 150px;
    text-align: center;
}

.red {
    color: #FF2C2C;
}

.green {
    color: #2FC20A;
}

