.ticker {
  font-size: 12px;
  line-height: 10px;
  color: rgba(0, 0, 0, 0.5);
  width:150px;
}

.company {
  font-size: 22px;
  line-height: 18px;
  width:450px;

  
}

.priceInteger {
  font-size: 30px;
  line-height: 18px;
  width:200px;
  text-align: right;
}

.priceDecimal {
  font-size: 20px;
  line-height: 18px;
}

/* .tr{
  border:1px solid black;
} */

.row {
  width: 100%;
  display:flex;
  justify-content: space-between;
}

.row:hover {
  background: rgba(131, 58, 224, 0.05);
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: black;
}

body {
  padding: 0;
  margin: 0;
}