.ticker {
  margin-right: 30px;
  font-size: 12px;
  line-height: 10px;
  color: rgba(0, 0, 0, 0.5);
}

.company {
  font-size: 22px;
  line-height: 18px;
}

.priceInteger {
  font-size: 30px;
  line-height: 18px;
}

.priceDecimal {
  font-size: 20px;
  line-height: 18px;
}

.row {
  width: 100%;
}

.row:hover {
  background: rgba(131, 58, 224, 0.05);
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: black;
}

body {
  padding: 0;
  margin: 0;
}