.balance {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    
}

.balance h1{
    text-align: center;
    font-size: 64px;
    line-height: 24px;
    font-family: 'Roboto', sans-serif;
    margin-top:-30px;
 

}

.balance p{
    text-align: center;
    font-size: 18px;
    margin:0 auto;
    font-family: 'Roboto', sans-serif;
 
}

.red {
    color: #FF2C2C;
}

.green {
    color: #2FC20A;
}

.totalDecimal {
    font-size: 32px;
}