.table table{
    display:flex;

    align-items: center;
    justify-content: center;
    border-collapse: collapse;
    flex-direction: column;
    overflow-y: scroll;
    height:292px;
    margin:0 auto;
    margin-bottom:35px;
    font-family: 'Roboto';
}
.table{
    margin-top:5px;
 }

.table .paging{
    display: flex;
    justify-content: center;
    align-items: center;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #ebebeb;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #6d6d6d;
}


/* .table table::-webkit-scrollbar {
    display: none;
} */

.tbody{

    height:292px;
}